<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Movie Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Conditional guarantees content only renders once the data has arrived -->
  @if (movie) {

  <!-- Movie title -->
  <h1 class="movie-title">{{ movie.title }}</h1>

  <!-- Movie overview -->
  <p class="movie-overview">{{ movie.overview }}</p>

  <!-- Button that toggles a movie in and out of the favourites list, label reflects current state -->
  <ion-button (click)="toggleFavourite()" expand="block">
    @if (isFavourited) {
      Remove From Favourites
    } @else {
      Add To Favourites
    }
  </ion-button>

  <!-- Cast section -->
  <h2 class="section-heading">Cast</h2>
  @for (member of cast; track member.id) {

  <ion-card button (click)="openPerson(member.id)">

    @if (member.profile_path) {
    <img [src]="'https://image.tmdb.org/t/p/w185' + member.profile_path" [alt]="member.name" />
    } @else {
    <p class="no-image">No image</p>
    }

    <ion-card-header>
      <ion-card-title>
        {{ member.name }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ member.character }}
    </ion-card-content>

  </ion-card>
  }

  <h2 class="section-heading">Crew</h2>
  @for (member of crew; track member.id) {

  <ion-card button (click)="openPerson(member.id)">
    <img [src]="'https://image.tmdb.org/t/p/w185' + member.profile_path" [alt]="member.name" />

    <ion-card-header>
      <ion-card-title>
        {{ member.name }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ member.job }}
    </ion-card-content>

  </ion-card>

  }

  }
</ion-content>